@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este projeto foi desenvolvido por Hiago Indalécio e não possui direitos autorais, 
    todo o código fonte pode ser utilizado como metodologia de estudos.</p>
