@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hiago Indalécio<br />
    <abbr title="Telefone">T:</abbr>
    (+55)1998864-1599
</address>

<address>
    <strong>Suporte:</strong><a href="mailto:hiagoindalecio@outlook.com">hiagoindalecio@outlook.com</a><br />
</address>