@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo à Universidade Limoeiro</h2>
        <p>
            Universidade Limoeiro é uma aplicação em C#
            que demonstra o funcionamento do Entity
            Framework 6 em uma aplicação ASP.NET MVC 5.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Teste todas as funcionalidades</h2>
        <p>Navegue pelas telas do projeto e teste o pode do Entity.</p>
        <p><a class="btn btn-default" href="https://github.com/hiagoindalecio">GitHub &raquo;</a></p>
    </div>
</div>